//
   Created by Indexyz on 2017/4/11.

extends ./basic

block title
    title Identity · Profile

block panel
    .font-center
        if (info)
            span.mdl-chip.mdl-chip--contact
                span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white
                    i.material-icons.mdl-chip__contact.chip--icon priority_high
                span.mdl-chip__text=info
        if (e)
            span.mdl-chip.mdl-chip--contact
                span.mdl-chip__contact.mdl-color--teal.mdl-color-text--white
                    i.material-icons.mdl-chip__contact.chip--icon close
                span.mdl-chip__text=e
    .mdl-grid
        .mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet
            .mdl-card.mdl-shadow--2dp.index--fullwidth
                .mdl-card__title
                    h2.mdl-card__title-text=$("profile.nowUsername")
                .mdl-card__supporting-text
                    |#{$("profile.nowUsernameMessage.1")}
                    br
                    |#{$("profile.nowUsernameMessage.2")}
                    form(method="POST", id="postUserName")
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.input--text.index--fullwidth
                            input(value="changeUserName", name="type", hidden=true)
                            input#username.mdl-textfield__input(type='text', pattern="^\.{3,}$", name = "username")
                            label.mdl-textfield__label(for='username')=$("form.username.name")
                            span.mdl-textfield__error=$("form.username.errors.longgerThen3")
                .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(
                        onclick="document.getElementById(\"postUserName\").submit();"
                    )
                        |#{$("edit")}
        br
        br
        .mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet
            .mdl-card.mdl-shadow--2dp.index--fullwidth
                .mdl-card__title(style="padding-bottom: 0px;")
                    h2.mdl-card__title-text=$("profile.modifyPassword")
                .mdl-card__supporting-text(style="padding-top: 0px;")
                    form(method="POST", id="modifyPassword")
                        input(value="modifyPassword", name="type", hidden=true)
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.input--text.index--fullwidth
                            input#oldPassword.mdl-textfield__input(type='text', name = "oldPassword")
                            label.mdl-textfield__label(for='oldPassword')=$("form.password.oldPassword")
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.input--text.index--fullwidth
                            input#newPassword.mdl-textfield__input(type='text', pattern="^\.{6,}$", name = "newPassword")
                            label.mdl-textfield__label(for='newPassword')=$("form.password.newPassword")
                            span.mdl-textfield__error=$("form.password.errors.longgerThen6")
                .mdl-card__actions.mdl-card--border
                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(
                        onclick="document.getElementById(\"modifyPassword\").submit();"
                    )
                        | #{$("edit")}